<?xml version="1.0"?>
<!--Launches a race_deep_learning_feature_extraction node(let). Remaps all parameters.-->
<!--<launch>


<arg name="name" default="DL_feature_extraction"/>
<arg name="namespace"/>

<node pkg="race_deep_learning_feature_extraction" type="deep_learning_based_feature_extraction.py" name="$(arg name)" ns="$(arg namespace)" output="screen">
<param name="name" type="string" value="$(arg name)" />
<param name="namespace" value = "$(arg namespace)" />

</node>
</launch>-->

<!--Launches a race_feature_extraction node(let). Remaps all parameters.-->
<launch>
<arg name="use_nodelets" default="0"/> <!-- this flag will configure a nodes or nodelets based system-->
<arg name="name" default="race_topic_modeling_services"/>
<arg name="nodelet_manager_name" default="nodelet_manager"/>
<arg name="namespace" default="/perception/pipeline_default"/>

	<group ns="$(arg namespace)">		
		<group unless="$(arg use_nodelets)"> <!-- with nodes -->
			 <node pkg="race_topic_modeling_services" type="local_HDP_service.py" name="$(arg name)" output="screen">
			</node>
		</group>
	</group>
</launch>

