<?xml version="1.0"?>
<!-- This is a launch file for the bringup of the race perception architecture-->
<launch>
	<!-- Launches the nodelet_manager -->
	<node pkg="nodelet" type="nodelet" name="nodelet_manager"  args="manager" output="screen" required="true">
		<param name="~num_worker_threads" value="10"/>
		<param name="num_worker_threads" value="10"/>

	</node>
</launch>
